# MQTT Settings
MQTT_BROKER_SERVER=192.168.0.123
MQTT_BROKER_PORT=1883
MQTT_BROKER_USER= 
MQTT_BROKER_PASS=
MQTT_BROKER_TOPIC=seat

# Seat Connect Setting
SEAT_CONNECT_USER=example@example.com
SEAT_CONNECT_PASS=SuperSecreetPassword

# other settings
SETTINGS_INTERVAL=900  